form {
	margin-top: 10px;
}

#details_form label {
	display: inline-block;
	width: 100px;
}

#details_form .row {
	margin-bottom: 5px;
} 

#details_form textarea {
	width: 270px;
}

#submit {
	display: block;
    margin-top: 20px
}

label#error_message {
	color: #ff0000;
	width: 300px;
}